<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Pill Pall</title>
    <link rel="stylesheet" href="https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.3/autocomplete-lhc.min.css">
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="src/css/clndr.css">
</head>
<body>
        <div class="header">
                <h2>My Pill Pall</h>
              </div>
    <br>
    <div class="intro">
            <p>Welcome to the my Pill Pall Application. <br> Your tool for keeping track on the current status of your medication levels, so you won't ever have to deal with the stress associated with running low or running out of your medication and having to wait for you prescription to be refilled. <br> 
               In order to use this application, please fill out the form below with information relating to the prescription you want to track, and click on the validate button, and we will take care of the rest. <br>
               Please note, the clear button clears data from the form, where the reset button is used to reset the form and allow you to input more information about your medications.
            </p>
    </div>

    <br>

  <div class= formBlock>

          <div class="formTitle"> <h4>My Pill Pall Input Form</h4> </div>
                
        <form id="test-Input" onsubmit ="return submitData()">
                
            <div class="form row">
                <div class="col">
                        <label for="rxterms"> Drug Name: </label>
                </div>
                <div class="col">
                        <input type="text"  id="rxterms" class="form-control" placeholder="Drug Name" size="50" required>
                </div>
                <div class="col">
                        <p class="error" id="nameError"></p>
                </div>
            </div>
            <div class="form row">
                    <div class="col">
                            <label for="drug_strength">Strength: </label>
                    </div>
                    <div class="col">
                            <input type="text" id="drug_strengths" class="form-control" placeholder="Strength list" required>
                    </div>
                    <div class="col">
                            <p class="error" id="strengthError"></p>
                    </div>
                </div>
                <div class="form row">
                        <div class="col">
                                <label for="amountFilled">Quantity Filled: </label>
                        </div>
                        <div class="col">
                                <input type="number" id="amountFilled" placeholder="0" class="form-control"  min="1" required>
                        </div>
                        <div class="col">
                                <p class="error" id="maxError"></p>
                        </div>
                    </div>
                <div class="form row">
                        <div class="col">
                                <label for="takenAmount">Pills Taken: </label>
                        </div>
                        <div class="col">
                                <input type="number" id="takenAmount" required class="form-control" placeholder="0" min="1">
                        </div>
                        <div class="col">
                                <p class="error" id="takenError"></p> 
                        </div>
                    </div>

                <div class="form row">
                        <div class="col">
                                <label for="timesPerDay">Times Per Day: </label>
                        </div>
                        <div class="col">
                                <input type="number" id="timesPerDay" min="1" class="form-control" required placeholder="0">
                        </div>
                        <div class="col">
                                <p class="error" id="perError"></p> 
                        </div>
                    </div>
    
                    <div class="form row">
                            <div class="col">
                                    <label for="dateFilled">Date Filled:</label>
                            </div>
                            <div class="col">
                                    <input type="date" id="dateFilled" class="form-control" placeholder="Enter date filled" >
                            </div>
                            <div class="col">
                                    <p class="error" id="fillError"></p> 
                            </div>
                        </div>

                        <div class="form row">
                                <div class="col">
                                        <label for="dateStart">Date Started:</label>
                                </div>
                                <div class="col">
                                        <input type="date" id="dateStart" class="form-control" placeholder="Enter date started">
                                </div>
                                <div class="col">
                                        <p class="error" id="startError"></p> 
                                </div>
                            </div>                                
            <input type="hidden" id="rxcui" readonly></br>
            <div class="button-grid">
                <div class="form-row">
                    <div class="col">
                            <input type="button" class="button" value="Validate" id="validateButton" onClick="formChecker()"/>
                    </div>
                    <div class="col">
                            <input type='submit' class="button" value="Submit" id="submitButton" hidden='true' disable="true" onClick='submitData()'/>
                    </div>
                    <div class="col">
                            <input type='reset' class="button" value="Clear Data" id='clearButton'>
                    </div>
                    <div class="col">
                            <input type="reset" class="button" value="Reset" onClick="window.location.reload()">
                    </div>
                </div>
            </div>

        </form>
</div>



    <div id='output' class="divOut" hidden="true">
        <h5>Output</h5>
        <p id='outDrug'></p>
        <p id='outInfo'></p>
        <p id='outDate'></p>  
        <p id='outCounter'></p>
        <p id='outRemain'></p>
        <a id="the-link" href="https://www.google.com" target="_blank"> Click this link to learn more about your medication, or interact with the calendar below</a>
        <br>
        <br>
        <div class="container">
                <div class="cal1">
                        <script type="text/template" id="clndr-template">
                            <div class="clndr-controls">
                                <div class="clndr-previous-button">&lsaquo;</div>
                                <div class="month"><%= month %></div>
                                <div class="clndr-next-button">&rsaquo;</div>
                            </div>
                            <div class="clndr-grid">
                                <div class="days-of-the-week">
                                <% _.each(daysOfTheWeek, function (day) { %>
                                    <div class="header-day"><%= day %></div>
                                <% }); %>
                                    <div class="days">
                                    <% _.each(days, function (day) { %>
                                        <div class="<%= day.classes %>"><%= day.day %></div>
                                    <% }); %>
                                    </div>
                                </div>
                            </div>
                            <div class="clndr-today-button">Today</div>
                        </script>
                    </div>
        </div>
    </div> 
   
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.3/autocomplete-lhc.min.js'></script>
    <script src='src/js/underscore.js'></script>
    <script src= "src/js/moment.min.js"></script>
    <script src="src/js/clndr.js"></script>
    <script src="src/js/autoScript.js"></script>
    <script src="src/js/testScript.js" ></script>
    <script src="src/js/testCal.js"></script>
    
</body>
</html>